.Blog-post {
  padding-top: 80px;
}
.Blog-post h1 {
  font-family: var(--barlow);
  font-size: 60px;
  line-height: 50px;
}
.Blog-post h1:hover {
  color: var(--orange);
}
.Blog-post .blog-post-category {
  font-family: var(--barlow);
  font-size: 14px;
  font-weight: lighter;
  text-decoration: underline;
  padding-top: 20px;
  color: var(--text-color);
}
.Blog-post .blog-post-category:hover {
  color: var(--orange);
}
.Blog-post .blog-post-price {
  font-family: var(--open-sans);
  font-size: 24px;
  font-weight: bolder;
  padding-top: 5px;
}
.Blog-post .blog-post-price:hover {
  color: var(--orange);
}
.Blog-post img {
  width: 100%;
}
.Blog-post .post-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10px;
  padding: 150px 0;
}
.Blog-post .post-col {
  font-family: var(--open-sans);
  font-size: 18px;
  width: 100%;
}
.Blog-post .post-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  padding-left: 20px;
}
.blog-post-content p {
  font-family: var(--open-sans);
  color: var(--dark-gray);
  font-size: 16px;
  padding-top: 20px;
}
.blog-post-content p:hover {
  color: var(--orange);
}
.blog-post-content p strong {
  font-weight: bolder;
}
.blog-post-content a {
  font-family: var(--open-sans);
  color: var(--dark-gray);
  font-size: 1rem;
  line-height: 1.7rem;
  padding-bottom: 30px;
  font-style: italic;
}
.voltar {
  padding: 30px 0;
}
.voltar a {
  font-family: var(--open-sans);
  color: var(--dark-gray);
  font-size: 1rem;
  padding-bottom: 30px;
}
.voltar a:hover {
  font-weight: bolder;
  text-decoration: unset;
  color: var(--orange);
}
@media (max-width: 576px) {
  .Blog-post {
    padding-top: 100px;
  }
  .Blog-post .post-row {
    flex-flow: column-reverse;
    padding: 100px 0;
  }
  .Blog-post .post-col {
    align-items: center;
  }
  .Blog-post .post-sticky {
    position: unset;
    top: unset;
    padding-left: unset;
  }
  .Blog-post img:first-child {
    padding-top: 20px;
  }
}
