@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
:root {
  --orange: #ffab8c;
  --blue: rgb(115, 204, 255);
  --dark-gray: rgb(92, 92, 92);
  --light-gray: rgb(192, 192, 192);
  --open-sans: 'Open Sans', sans-serif;
  --barlow: 'Barlow', sans-serif;
  --anton: 'Anton', sans-serif;
}
body.light {
  --background: #fff;
  --text-color: rgb(36, 36, 36);
}
body.dark {
  --background: rgb(36, 36, 36);
  --text-color: #fff;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  background: var(--background);
  color: var(--text-color);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*:focus {
  outline: 0;
}
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}
::selection {
  background-color: var(--orange);
  color: var(--blue);
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
li {
  list-style-type: none;
}
ul li {
  display: inline;
}
button {
  cursor: pointer;
  background: transparent;
  border: initial;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 20px;
}
.display-none {
  display: none;
}
.page-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100vh;
}
h1 {
  font-size: 40px;
  font-family: var(--open-sans);
}
h2 {
  font-size: 26px;
  font-family: var(--open-sans);
}
h3 {
  font-size: 18px;
  font-family: var(--open-sans);
}
h4 {
  font-size: 14px;
  font-family: var(--open-sans);
}
h5 {
  font-size: 10px;
  font-family: var(--open-sans);
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 20px 20px;
  }
  .posts-list {
    grid-template-columns: 1fr;
  }
}
// theme-changer
.theme-changer {
  display: none;
}
body.dark {
  .gg-moon {
    display: none;
  }
}
body.light {
  .gg-sun {
    display: none;
  }
}
.mode-container {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: var(--orange);
}
.mode-container:hover {
  color: var(--light-gray);
}
// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}
.gg-moon,
.gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%
}
.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs,1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent
}
.gg-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px
}
