.produtos-home {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
.produtos-wrapper {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}
.produtos-wrapper h1 {
  font-family: var(--barlow);
  font-size: 60px;
  font-weight: bolder;
  line-height: 50px;
}
.produtos-wrapper .produtos-text {
  font-family: var(--open-sans);
  font-size: 18px;
  padding: 20px 0;
}
.produtos-wrapper-row {
  width: 100%;
  padding: 50px 0 0;
}
.produtos-wrapper .produtos-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
}
.produtos-wrapper .produtos-col {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.react-hooks-paginator {
  margin-top: 100px;
}
.react-hooks-paginator .page-item:hover .page-link, .react-hooks-paginator .page-item.active .page-link {
  background-color: var(--orange);
  border-color: var(--orange);
}
.react-search-field {
  width: 100%;
  border: unset !important;
  border-bottom: 2px solid var(--orange) !important;
  height: unset !important;
}
.react-search-field input {
  background: transparent;
  font-family: var(--open-sans);
}
.react-search-field button {
  background-color: transparent !important;
  border-left: transparent !important;
}
.react-search-field button svg {
  fill: var(--orange) !important;
}
.produtos-wrapper-row .produtos-col-padding {
  padding: 0 20px;
}
#categoria {
  width: 100%;
}
.select-categoria__control {
  background-color: transparent !important;
  border: 2px solid var(--orange) !important;
  border-radius: unset !important;
  font-family: var(--open-sans) !important;
}
.select-categoria__menu {
  background-color: var(--background) !important;
  font-family: var(--open-sans) !important;
}
.select-categoria__option {
  color: var(--text-color) !important;
  cursor: pointer !important;
}
.select-categoria__option--is-focused {
  background-color: var(--orange) !important;
}
.select-categoria__menu-list {
  border: 2px solid var(--orange) !important;
}
.select-categoria__single-value {
  color: var(--text-color) !important;
}
@media (max-width: 576px) {
  .produtos-wrapper .produtos-row {
    flex-flow: column;
  }
  .produtos-wrapper .produtos-col:first-child {
    padding-bottom: 50px;
  }
}
