.home-wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-wrapper h1 {
  font-family: var(--anton);
  text-transform: uppercase;
  font-size: 200px;
  text-align: left;
  font-weight: bolder;
  line-height: 185px;
  mix-blend-mode: difference;
}
.canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}
#canvas-screen {
  width: 100%;
  height: 90vh;
  z-index: -1;
}
@media (max-width: 576px) {
  .home-wrapper h1 {
    font-size: 100px;
    line-height: 90px;
  }
}
