.post-item-section {
  -webkit-perspective: 1;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  width: 100%;
  height: auto;
  position: relative;
}
.post-item-section .post-item:hover {
  border: 2px solid var(--orange);
}
.post-item-section .post-item p:hover {
  color: var(--orange);
}
.post-item-section .post-item a:hover {
  text-decoration: none;
}
.post-item-section .post-item-title {
  font-family: var(--barlow);
  font-size: 24px;
  font-weight: lighter;
  padding-top: 5px;
  color: var(--text-color);
}
.post-item-section .post-item-category {
  font-family: var(--barlow);
  font-size: 12px;
  font-weight: lighter;
  text-decoration: underline;
  padding-top: 5px;
  color: var(--text-color);
}
.post-item-section .post-item-about {
  font-family: var(--open-sans);
  font-size: 14px;
  padding-top: 20px;
  color: var(--text-color);
}
.post-item-section .post-item-preco {
  font-family: var(--barlow);
  font-size: 18px;
  font-weight: bolder;
  padding-top: 20px;
  color: var(--text-color);
}
.post-item-section .post-item > .post-link {
  grid-row: 1 / -1;
  grid-column: 1;
  position: relative;
}
.post-item-section .post-item img {
  width: 100%;
  height: auto;
  position: relative;
}
@media (max-width: 1100px) {
  .post-item-section {
    column-count: 3;
  }
}
@media (max-width: 900px) {
  .post-item-section {
    column-count: 2;
  }
}
@media (max-width: 576px) {
  .post-item-section {
    column-count: 1;
  }
}
